/* --------------------------- */
/* ----- popup container ----- */
/* --------------------------- */
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------------------- */
/* ----- popup  ----- */
/* --------------------------- */
.popup {
    text-align: center;
    background-color: #fff;
    border-radius: 2px;
    overflow: hidden;
}

/* --------------------------- */
/* ----- popup heading ----- */
/* --------------------------- */
.popup h1 {
    background-color: #2F409D;
    color: white;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    margin-top: 0;
    font-family: 'Audiowide', Verdana, Tahoma, sans-serif;
}

/* --------------------------- */
/* ----- popup p ----- */
/* --------------------------- */
/* .popup p {
    font-size: 18px;
    letter-spacing: 1px;
    margin: 20px 10% 0;
} */

/* --------------------------- */
/* ----- popup button ----- */
/* --------------------------- */
.popup-btn {
    border: 2px solid #ea7851 !important;
    border-radius: 2px !important;
    background-color: #ea7851 !important;
    color: #fff !important;
    display: inline-block !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    padding: 14px 75px !important;
    margin: 20px auto !important;
    text-transform: uppercase !important;
    transition: color .2s ease, background-color .2s ease !important;
}

.popup-btn:hover {
    background-color: #fff !important;
    color: #ea7851 !important;
}