nav {
    background-image: url("white_paperboard.png");
}

nav .brand-logo {
    font-family: 'Audiowide', Verdana, Tahoma, sans-serif;
    color: #FF6F00;
    font-size: 3.1rem;
}

#nav-btn {
    color: #326ca4;
}

@media only screen and (max-width: 750px) {
    nav .brand-logo {
        font-size: 2rem
    }
}

@media only screen and (max-width: 405px) {
    nav .brand-logo {
        font-size: 1.5rem;
    }
}