.custom-row {
    margin-top: 10%;
}

img.responsive-img {
    margin-top: 2rem;
    margin-bottom: -4rem;
}

.button {
    padding: 20px;
    width: 200px;
    color: white;
    border-radius: 2px;
    border: none;
    box-shadow:  0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.facebook {
    background-color: #4c69ba;
}

.facebook:hover {
    background-color: #395193;
}

.google {
    background-color: #d14836;
}

.google:hover {
    background-color: #a63526;
}

i {
    margin-right: 8px;
}

@media only screen and (max-width: 1065px) {

}

@media only screen and (max-width: 750px) {
    img.responsive-img {
        margin-top: 2rem;
        margin-bottom: -4rem;
    }
    .button {
        margin-top: 25%;
        width: 185px;
        
        
    }
    }

@media only screen and (max-width: 405px) {
    img.responsive-img {
        margin-top: 2rem;
        margin-bottom: -4rem;
    }
    .button {
        margin-top: 50%;
        width: 185px;
        
        
    }
    }